
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#character-sheet {
  float: left;
  width: 450px;
  height: 500px;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}

#container_id {
  display: inline-block;
  width: 96%;
}

#deck-box {
  display: inline-block;
}

.deck-container {
  float:left;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

p.boon-type {
  text-transform: capitalize;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
}

.reset {
  font-weight: normal;
}

.selected {
  font-weight: bold;
  border-bottom: 2px solid #dd8c11;
}

p.header {
  font-size: 16px;
  display: inline-block;
  margin: 10px 0 10px 0;
}

table.deck-table {
  width: 450px;
  border-collapse: collapse;
  border-bottom: 2px solid #dd8c11;
  border-top: 2px solid #dd8c11;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);

}

table.character-deck-table {
  width: 400px;
  border-collapse: collapse;
  table-layout: fixed;
  border: hidden;
}

td, th {
  border: 1px solid #999;
  padding: 0.3rem;
  text-align: left;
  font-size: 11px;
}

table.deck-table td:hover {
  background-color: #dd8c11;
  cursor: default;
}

table.character-deck-table td{
    overflow: hidden;
    width: 200px;
    border: none;
}

table.character-deck-table tr{
  border: none;
}

.boon-type:hover {
  background-color: #dd8c11;
  cursor: pointer;
  font-weight: bold;
}

td.card-removed span.undo {
  text-decoration: none;
  color : #dd8c11
}

td.card-in-deck:hover, .card-removed {
  color:#dd8c11;
  cursor: default;
}


table tr:nth-child(odd) {
  background: #eee;
}

.hide {
  visibility: hidden;
}
